.footer {
	padding-block: 80px 56px;

	&__content {
		display: grid;
		grid-template-columns: auto auto auto auto min-content;
		gap: 24px 12px;
		margin-bottom: 32px;
	}

	&__title {
		max-width: 520px;
		padding-right: 12px;

		.logo {
			margin-bottom: 16px;
		}
	}

	&__nav {
		&-list {
			list-style: none;
			padding-inline: 32px;
			display: flex;
			flex-direction: column;
			gap: 12px;
		}

		&-item {
			@media (hover: hover) and (pointer: fine) {
				a:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&__social {
		width: 182px;

		&-title {
			margin-bottom: 16px;
		}

		&-list {
			list-style: none;
			display: flex;
			flex-direction: row;
			gap: 16px;
		}

		&-item {
			display: block;
			width: 40px;
			height: 40px;
			background-color: var(--color-neutral-90);
			border-radius: 50%;
			background-repeat: no-repeat;
			background-position: center;

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					background-color: var(--color-neutral-80);
				}
			}
		}
	}

	&__legal {
		display: flex;
		flex-direction: row;
		gap: 32px;
		padding-top: 32px;
		border-top: 1px solid var(--color-neutral-80);

		&-title {
			flex: 1 1 100%;
		}

		&-links {
			flex: 1 1 100%;
			display: flex;
			flex-direction: row;
			justify-content: end;
			gap: 10px;

			@media (hover: hover) and (pointer: fine) {
				a:hover {
					text-decoration: underline;
				}
			}
		}
	}

	@media (max-width: 1310px) {
		&__content {
			grid-template-columns: 1fr 1fr 1fr;
		}

		&__title {
			order: -1;
			grid-column: 1 / 3;
		}

		&__nav {
			&-list {
				padding-inline: 0;
			}
		}

		&__social {
			order: -1;
		}
	}

	@media (max-width: 980px) {
		&__title {
			max-width: 420px;
			padding-right: 24px;
		}
	}

	@media (max-width: 800px) {
		padding-block: 40px 24px;

		&__legal {
			flex-direction: column;
			gap: 12px;
			padding-top: 24px;

			&-links {
				justify-content: start;
			}
		}
	}

	@media (max-width: 600px) {
		&__content {
			grid-template-columns: 1fr 1fr;
		}

		&__social {
			order: 0;
		}
	}
}


.facebook {
	background-image: url(../icons/social-facebook.svg);
}

.instagram {
	background-image: url(../icons/social-instagram.svg);
}

.tiktok {
	background-image: url(../icons/social-tiktok.svg);
}