:root {
	--color-text-main: #2E3238;
	--color-text-placeholder: #ABB1BA;
	--color-background-accent: #FCFCFD;
	--color-border: #D5D8DD;
	--color-accent: #0078CF;
	--color-danger: #B21F00;
	--color-badge-background: #E5F4FF;
	--color-badge-border: #99D5FF;

	--border-radius: 4px;
}