@use "../media";

.contacts {
	margin-bottom: 90px;

	&__title {
		margin-bottom: 24px;
	}

	&__item {
		svg path {
			fill: var(--color-text-main);
		}
	}

	@include media.screen-medium {
		margin-bottom: 70px;

		&__title {
			margin-bottom: 28px;
		}

		&__item {
			&.email svg {
				height: 18px;
			}

			&.telegram svg {
				width: 23px;
			}
		}
	}
}