.footer {
	margin-bottom: 33px;

	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		gap: 9px;
		padding-top: 14px;
		border-top: 1px solid var(--color-text-secondary);

		svg path {
			fill: var(--color-text-secondary);
		}
	}
}