* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

ol,
ul {
	list-style-type: none;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

body {
	background-color: var(--color-bg-main);
}

.main {
	max-width: 1440px;
	margin-inline: auto;

	@media (max-width: 1500px) {
		margin-inline: 20px;
	}
}