:root {
	--color-bg-main: #F4F5F9;
	--color-bg-accent: #FFFFFF;
	--color-bg-devider: #E3E6ED;
	--color-bg-devider-overlay: #42567A33;
	--color-bg-devider-accent: #9BA6BA;
	--color-text-main: #42567A;
	--color-text-accent: #3877EE;
	--color-accent-1: #5D5FEF;
	--color-accent-2: #EF5DA8;

	--transition-duration: .3s;
}