@use "media";
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

.h1,
.h2,
.h3,
.p,
.p-small {
	font-family: 'PT Mono', monospace;
	font-style: normal;
	font-weight: 400;
	color: var(--color-text-main);

	&.secondary {
		color: var(--color-text-secondary)
	}

	&.invert-color {
		color: var(--color-bg-main);
	}
}

.h1 {
	font-size: 96px;

	@media (max-width: 1240px) {
		font-size: 80px;
	}

	@include media.screen-medium {
		font-size: 60px;
	}

	@media (max-width: 768px) {
		font-size: 50px;
	}

	@media (max-width: 640px) {
		font-size: 32px;
	}
}

.h2 {
	font-size: 32px;

	@include media.screen-medium {
		font-size: 24px;
	}
}

.h3 {
	font-size: 21px;

	@include media.screen-medium {
		font-size: 18px;
	}
}

.p {
	font-size: 18px;
	line-height: 22px;

	@include media.screen-medium {
		font-size: 16px;
	}
}

.p-small {
	font-size: 16px;
	line-height: 22px;

	@include media.screen-medium {
		font-size: 14px;
	}
}

.a {
	&.accent {
		color: var(--color-text-link);
	}

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			text-decoration: underline;
		}
	}

	&:active {
		text-decoration: underline;
	}
}